<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2GdvM6BNxZlY4dCHW86oKfNtOoKAVLu8</string>
	<key>GCM_SENDER_ID</key>
	<string>576215391150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spicestrong.app</string>
	<key>PROJECT_ID</key>
	<string>spicestrong</string>
	<key>STORAGE_BUCKET</key>
	<string>spicestrong.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576215391150:ios:453ce396c69ca42c4bc63f</string>
</dict>
</plist>